<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="{{pageName}} Role"
          ba-panel-class="with-scroll">
            <form class="form-validation" ng-submit="submitRole(role_form)" role="form" name="role_form">
                <div class="form-group">
                    <label>Role Name<code>*</code></label>
                    <input focus-me chars="letters" placeholder="Please enter role name" type="text" class="form-control" name="role_name" required-error-message="{{roleMessage.name.required}}" minlength-error-message="{{roleMessage.name.minlength}}" maxlength-error-message="{{roleMessage.name.maxlength}}"
                        validator="required, minlength=2, maxlength=20" valid-method="blur submit" ng-model="role.name" />
                </div>

                <div class="form-group">
                    <label>Role Description<code>*</code></label>
                    <input placeholder="Please enter role description" type="text" class="form-control" name="role_description" required-error-message="{{roleMessage.description.required}}" minlength-error-message="{{roleMessage.description.minlength}}" maxlength-error-message="{{roleMessage.description.maxlength}}"
                        validator="required, minlength=2, maxlength=100" valid-method="blur submit" ng-model="role.description" />
                </div>
                
                <div class="form-group">
                    <label>Permissions</label>
                    <input type="text" class="form-control" ng-model="myQuery" placeholder="Search permissions">
                    <div ivh-treeview="role.permissions" ivh-treeview-expand-to-depth="1" ivh-treeview-filter="myQuery"></div>
                </div>
                <button type="submit" class="btn btn-info" ng-disabled="isSubmitted" align="center">{{action}}</button>

                <a type="submit" ui-sref="roles.list" class="btn btn-info" align="center">Cancel</a>
            </form>
      </div>
    </div>
  </div>
</div>