<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{titleName}}</h4>
    </div>
    <form ng-submit="change_password(add_form)" role="form" name="add_form">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="input04">New Password</label>
                    <input type="password" class="form-control" ng-model="changepassformscope.new_password" placeholder="Please enter password" name="new_password"
                    required-error-message="{{errorMessage.new_password.required}}"  
                    minlength-error-message="{{errorMessage.new_password.minlength}}"  
                    maxlength-error-message="{{errorMessage.new_password.maxlength}}" 
                    validator="required, minlength=6, maxlength=16" valid-method="blur">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label for="input04">Confirm Password</label>
                    <input type="password" class="form-control" ng-model="changepassformscope.confirm_password" placeholder="Please enter confirm password" name="confirm_password"
                    required-error-message="{{errorMessage.confirm_password.required}}" 
                    validator="required, confirmPassword" valid-method="blur">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="isSubmitted" class="btn btn-success" align="center">{{btnName}}</button>
        </div>
    </form>
</div>