<div class="row">
    <div class="col-md-6">
        <div ba-panel ba-panel-title="{{pageName}}" ba-panel-class="with-scroll">
            <form ng-submit="add_data(add_form)" role="form" name="add_form">
                <div class="form-group">
                    <label>Name<code>*</code></label>
                    <input type="text" ng-model="formscope.name" name="name" class="form-control" placeholder="Please enter transport name"
                        required-error-message="{{errorMessage.name.required}}" focus-me
                        minlength-error-message="{{errorMessage.name.minlength}}"  
                        maxlength-error-message="{{errorMessage.name.maxlength}}" 
                        validator="required, minlength=2, maxlength=50" valid-method="blur" chars="letters"
                    >
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" placeholder="Please enter description" ng-model="formscope.description" name="description"
                    maxlength-error-message="{{errorMessage.description.maxlength}}" 
                    validator="maxlength=500" valid-method="blur" chars="alpha-numeric"
                    ></textarea>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select chosen
                        ng-model="formscope.status" name="status" 
                        ng-options=" company.value as company.text for company in statusData"
                        class="form-control"></select>
                </div>
                
                <button type="submit" ng-disabled="isSubmitted" class="btn btn-success" align="center">{{btnName}}</button>
                <a type="submit" ui-sref="categories.transports.list" class="btn btn-info" align="center">Cancel</a>
            </form>
        </div>
    </div>
</div>