<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel"><span>{{formTitle}}</span> Meal Service</h4>
    </div>
    <form ng-submit="add_data(add_form)" role="form" name="add_form">
        <div class="modal-body">
            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label>Meal Type<code>*</code></label>
                    <select chosen ng-model="formscope.meal_id" name="meal_id" ng-options="type.id as type.name disable when type.isDisabled for type in mealsTypeOption" 
                        class="form-control" required-error-message="{{errorMessage.meal_id.required}}" validator="required" 
                        valid-method="watch, blur" validation-group="meal_type_error_message"></select>
                        <span id="meal_type_error_message"></span>
                        <input type="hidden" ng-model="formscope.old_meal_id" name="old_meal_id"/>
                </div>
                <div class="form-group col-md-6">
                    <label>Specific Items</label>
                    <input type="text" class="form-control" ng-model="formscope.specific_item" placeholder="Please enter specific item" name="specific_item" chars="letters">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label>How Many People<code>*</code></label>
                    <input type="text" class="form-control" ng-keyup="checkNumber($event)" ng-model="formscope.people" placeholder="Please enter people count" name="people" required-error-message="{{errorMessage.people.required}}" minlength-error-message="{{errorMessage.people.minlength}}" maxlength-error-message="{{errorMessage.people.maxlength}}"
                        validator="required, minlength=1, maxlength=5" valid-method="blur" chars="numbers">
                </div>
                <div class="form-group col-md-6">
                    <label>Catering Manager<code>*</code></label>
                    <select chosen ng-model="formscope.catering_manager" name="catering_manager" ng-options="type.id as type.name disable when type.isDisabled for type in usersOption" 
                        class="form-control" required-error-message="{{errorMessage.catering_manager.required}}" 
                        validator="required" valid-method="watch, blur" validation-group="catering_manager_error_message"></select>
                        <span id="catering_manager_error_message"></span>
                </div>
            </div>
            
            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label>Meal Service Type<code>*</code></label>
                    <select chosen ng-model="formscope.meal_service_type_id" name="meal_service_type_id" 
                        ng-options="type.id as type.name for type in mealServiceTypeOption" class="form-control" 
                        required-error-message="{{errorMessage.meal_service_type_id.required}}" validator="required" 
                        valid-method="watch, blur" validation-group="meal_service_type_id_error_message"></select>
                        <span id="meal_service_type_id_error_message"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Meal Service Location<code>*</code></label>
                    <select chosen ng-model="formscope.meal_service_location_id" name="meal_service_location_id" ng-options="type.id as type.name for type in mealServiceLocationsOption" class="form-control" required-error-message="{{errorMessage.meal_service_location_id.required}}" validator="required" valid-method="watch, blur" validation-group="meal_service_location_id_error_message"></select>
                        <span id="meal_service_location_id_error_message"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="isSubmitted" class="btn btn-success" align="center">{{btnName}}</button>
        </div>
    </form>
</div>